In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import os

In [8]:
#os.chdir('../') # Run once
DATA_PATH = f"{os.getcwd()}/data/dataset.csv"

In [9]:
data = pd.read_csv(DATA_PATH)
data.head(5)

,user_id,number_of_ticks,date_created,chapter,book,numberofentriesofbook,numberofusersofbook,product_manning_id,user_owns_book
0,-2147277864,1,"""2019-10-27 08:58:15""",chapter-8,bhargava,888,440,610,1
1,-2146355313,8,"""2019-12-14 10:05:50""",chapter-8,fain3,737,225,1069,1
2,-2146355313,8,"""2019-12-14 10:05:50""",chapter-1,ramamurthy,715,202,1120,1
3,-2146355313,8,"""2019-12-14 10:05:50""",chapter-1,thomas,445,136,816,1
4,-2146168866,2,"""2019-11-27 05:09:29""",about-this-book,prasanna,21,14,273,0

In [11]:
data.shape

(4999, 9)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4999 entries, 0 to 4998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   user_id                4999 non-null   int64
 1   number_of_ticks        4999 non-null   int64
 2   date_created           4999 non-null   object
 3   chapter                4999 non-null   object
 4   book                   4999 non-null   object
 5   numberofentriesofbook  4999 non-null   int64
 6   numberofusersofbook    4999 non-null   int64
 7   product_manning_id     4999 non-null   int64
 8   user_owns_book         4999 non-null   int64
dtypes: int64(6), object(3)
memory usage: 351.6+ KB

In [20]:
data["user_id"].value_counts()

2021139802    653
2088445927    331
2074479722    106
2135041721    104
2074434789     89
             ...
2054614214      1
2053648004      1
2114289612      1
2053262764      1
2147277864      1
Name: user_id, Length: 641, dtype: int64

In [21]:
data["number_of_ticks"].value_counts()

1      1923
2       674
3       368
4       240
5       171
       ...
359       1
94        1
157       1
120       1
98        1
Name: number_of_ticks, Length: 158, dtype: int64

In [23]:
data["user_owns_book"].value_counts()

1    2875
0    2124
Name: user_owns_book, dtype: int64

In [17]:
data["user_id"] = data["user_id"].abs()

Positive user_ids

In [18]:
data.head()

,user_id,number_of_ticks,date_created,chapter,book,numberofentriesofbook,numberofusersofbook,product_manning_id,user_owns_book
0,2147277864,1,"""2019-10-27 08:58:15""",chapter-8,bhargava,888,440,610,1
1,2146355313,8,"""2019-12-14 10:05:50""",chapter-8,fain3,737,225,1069,1
2,2146355313,8,"""2019-12-14 10:05:50""",chapter-1,ramamurthy,715,202,1120,1
3,2146355313,8,"""2019-12-14 10:05:50""",chapter-1,thomas,445,136,816,1
4,2146168866,2,"""2019-11-27 05:09:29""",about-this-book,prasanna,21,14,273,0